/.bundle
/.capistrano

/db/*.sqlite3
/db/*.sqlite3-journal

/log/*.log
/tmp

/log
/coverage

/config/database.yml
/config/application.yml
/config/sidekiq.yml
.idea
.DS_Store
/public/uploads
dump.rdb
test
coverage
.last_run.json
.resultset.json
index.html
.byebug_history
.ruby-version

/db/*.sql
